{% extends "::base.html.twig" %}

{% block body %}

Tabs :
<ul>
{% for tab in tabs %}
    <li>{{ tab }}</li>
{% endfor %}
</ul>
<ul>
{% for amount, resource in player.resources %}
    <li>{{ resource }} : {{ amount }}</li>
{% endfor %}
</ul>
{% endblock %}