{% extends "TSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class="row">
    <div class="span3">
        <ul class="nav nav-tabs nav-stacked">
        {% for tab in tabs %}
            <li><a href="#">{{ tab }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="span9">
        <div id="game"></div>
    </div>
</div>

<!--
<ul>
{% for amount, resource in player.resources %}
    <li>{{ resource }} : {{ amount }}</li>
{% endfor %}
</ul>
-->
{% endblock %}