#game {
    height: 500px;
    border: 1px dotted grey;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.copyright {
    font-size: 0.8em;
    color: grey;
}