{% extends "::base.html.twig" %}

{% block body %}

Tabs :
{% for tab in tabs %}
<td> {{ tab }}</td>
{% endfor %}
{% for amount, resource in player.resources %}
<td>{{ resource }} : {{ amount }}</td>
{% endfor %}
{% endblock %}