<div class="row-fluid">
    <div class="span6 info-column">
        <header>Node selected</header>
        <div id="nodeInfo">
            Node info
        </div>
        <div id="nodeActions" class="text-center">
            <a href="#" class="btn btn-success" data-action="conquer">Conquer</a>
        </div>
    </div>
    <div class="span6 info-column">
        <header>Troops garrisoned</header>
        <div id="nodeUnits">
            Node units
        </div>
    </div>
</div>