<div class="row-fluid">
    <div class="span6 info-column">
        <header>Node selected</header>
        <div id="nodeInfo">
            Node info
        </div>
    </div>
    <div class="span6 info-column">
        <header>Troops garrisoned</header>
        <div>
            Placeholder
        </div>
    </div>
</div>