<div class="row-fluid">
    <div class="span6 info-column">
        <header>Node selected</header>
        <div>
            Prova
        </div>
    </div>
    <div class="span6 info-column">
        <header>Troops garrisoned</header>
        <div>
            Prova 2
        </div>
    </div>
</div>